	<%- include('partials/head')%>
	<%=test.config.host %>
	<% if (locals.rooms) { %>
	<div class="ui three column grid">
		<% rooms.forEach(function(room){%>
		<div class="column">
			<a href="/room/<%=room.name%>">
				<div class="ui fluid card">
					<div class="content">
						<div class="header"><%=room.name%></div>
					</div>
					<div class="image">
						<img alt="Salle virtuelle repli de monde avec dj" src="https://www.ideematic.com/wp-content/uploads/2014/01/Capture-d%E2%80%99%C3%A9cran-2014-01-30-%C3%A0-12.03.05.png">
					</div>
					<div class="description">
						<%=room.description%>
					</div>
					<div class="extra content">
						<span class="right floated">
							<%=room.created_at%>
						</span>
					</div>
				</div>
			</a>
		</div>
		<%})%>
	</div>
	<% } %>
	<%-include('partials/foot')%>